aiohttp==3.7.4
anytree==2.8.0
aria2p==0.9.1
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
cffi==1.14.1
chardet==3.0.4
cryptg==0.2.post2
gunicorn==20.0.4
hachoir==3.1.1
Pillow>=8.1.1
psutil==5.8.0
psycopg2-binary==2.8.5
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
qbittorrent-api==2020.7.7
requests==2.24.0
rsa==4.7
six==1.15.0
Telethon==1.23.0
TgCrypto==1.2.2
torrentool==1.1.0
urllib3==1.25.10
yarl==1.5.1
youtube-dl
instaloader==4.6
natsort==7.1.0
Pyrogram==1.2.9
lxml
beautifulsoup4>=4.8.2,<4.8.10
speedtest-cli
megasdkrestclient
pymongo
aiohttp-jinja2
certifi==2021.5.30
click==8.0.1
filetype==1.0.7
Flask==2.0.1
Flask-FontAwesome==0.1.5
Flask-QRcode==3.0.0
hurry.filesize==0.9
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
qrcode==7.1
Werkzeug==2.0.1
