aiohttp
anytree==2.8.0
aria2p==0.9.1
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptg==0.2.post2
gunicorn
hachoir==3.1.1
Pillow>=8.1.1
psutil==5.8.0
psycopg2-binary==2.8.5
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
qbittorrent-api
requests
rsa==4.7
six==1.15.0
Telethon==1.20
TgCrypto==1.2.2
torrentool
urllib3
yarl==1.5.1
yt-dlp
instaloader
natsort==7.1.0
Pyrogram==1.1.13
lxml
beautifulsoup4>=4.8.2,<4.8.10
speedtest-cli
megasdkrestclient