aiohttp
anytree==2.8.0
aria2p
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
certifi
cffi==1.14.1
chardet==3.0.4
cryptg==0.2.post2
gunicorn
hachoir==3.1.1
Pillow
psutil
psycopg2-binary==2.8.5
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
qbittorrent-api==2020.7.7
requests
rsa==4.7
six
Telethon
TgCrypto
torrentool==1.1.0
urllib3
yarl==1.5.1
youtube-dl
instaloader
natsort
pyrogram
lxml
beautifulsoup4>=4.8.2,<4.8.10
bs4
speedtest-cli
