<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Tortoolkit</title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<link href="/static/styles.css" rel="stylesheet">
		
	</head>
	<body data-new-gr-c-s-check-loaded="14.1020.0" data-gr-ext-installed="">
		<div class="main-div center-text" style="background-image:url(/static/anon.jpg);background-position: center;">
			<div class="display-table">
				<div class="display-table-cell">
				
					<h1 class="title font-white"><b>Tortoolkit Telegram</b></h1>
					
					<p class="desc font-white">Developed by Yash DK. </p>
					
					<a class="link-btn" href="https://github.com/yash-dk/TorToolkit-Telegram" target="_blank"><ion-icon class="github-button" name="logo-github"></ion-icon><b> Star and Fork on Github</b></a>
					
				</div>
			</div>
		</div>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

	</body>
</html>