<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Tortoolkit</title>
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<link href="/static/css/styles1.css" rel="stylesheet">
		
	</head>
	<body data-new-gr-c-s-check-loaded="14.1020.0" data-gr-ext-installed="">
		<div class="main-div center-text" style="background-image:url(/static/anon.jpg);background-position: center;">
			<div class="display-table">
				<div class="display-table-cell">
					
					{% if err404 %}
						
						<h3 class="title font-white"><b>Error 404 Resource Not Found</b></h3>
						<br>
					{% endif %}
					<h1 class="title font-white"><b>Tortoolkit Telegram</b></h1>
					
					<p class="desc font-white">Developed by Yash DK. </p>
					
					<a class="link-btn" href="https://github.com/yash-dk/TorToolkit-Telegram" target="_blank"><ion-icon class="github-button" name="logo-github"></ion-icon><b> Star and Fork on Github</b></a>
					<a class="link-btn" href="https://t.me/TorToolkit" target="_blank"><ion-icon class="paper-plane" name="paper-plane"></ion-icon><b>Join TorToolkit on Telegram</b></a>
					<a class="link-btn" href="/files"><ion-icon name="folder"></ion-icon><b> Go to File Manager</b></a>
					
				</div>
			</div>
		</div>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

	</body>
</html>